.fridge-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/kitchen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fridge-link {
  cursor: pointer;
}

.fridge-image {
  position: relative;
  margin-left: -1vw;
  max-height: 110vh;
  height: 105vh;
  margin-top: -9rem;
  transition: transform 0.3s ease;
}

.recipe-overlay-image {
  position: absolute;
  width: 8vw;         /* size relative to viewport width */
  max-width: 80px;    /* max size in px for bigger screens */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.recipe-overlay-image:hover {
  transform: scale(1.1);
  z-index: 10;
}
