.fridge-page {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/kitchen.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fridge-link {
  cursor: pointer;
}

.fridge-image {
  position: relative;
  margin-left: -1vw;
  max-height: 110vh;
  height: 105vh;
  margin-top: -8rem;
  transition: transform 0.3s ease;
}