.fridge-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100dvh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.fridge-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.fridge-image {
  position: absolute;
  top: 10px;       /* adjust to where you want it vertically */
  left: 50%;
  transform: translateX(-50%);
  width: 900px;     /* or any fixed or max size you prefer */
  height: auto;
}

.fridge-search-button {
  position: absolute;
  top: 34.5%; /* Adjust to position the shape */
  left: 50%; /* Adjust to position the shape */
  transform: translate(-50%, -50%);
  width: 310px; /* Adjust size */
  height: 280px; /* Adjust size */
  background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  border-radius: 0%; 
  cursor: pointer;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove underline if text is added */
}

.fridge-button:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Change color on hover */
}