@font-face {
  font-family: 'SketchPencilDemo';
  src: url('../assets/fonts/SketchPencilDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(107, 76, 29, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); 
  position: sticky;
  top: 0;
  height: 5rem;
  padding: 0 1.5rem;
  z-index: 10;
  font-family: 'Merriweather', serif;
  z-index: 20;
}


.logo {
  width: 370px; 
  object-fit: contain;
  cursor: pointer;
}


nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


nav ul li {
  margin: 0 0.75rem;
 
}

nav ul li a {
  display: block;
  font-size: 2.5rem;
  color: #e0b300;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'SketchPencilDemo', sans-serif;
  font-weight: bold;
  text-shadow:
                1px 1px 0px black,
                1px 1px 0px black,
                1px 1px 0px black,
                1px 1px 0px black,
                1px 1px 0px black;
}


nav ul li a.active {
  background-color: #6b4c1d;
  color: #e0b300;
}


nav ul li a:not(.active):hover {
  background-color: #6b4c1d; 
  color: #d4af37; 
}

/* Hamburger menu button for mobile */
.menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 2rem;
  display: none;
}

.menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #6b4c1d;
  border-radius: 0.2rem;
}

@media (max-width: 931px) {
  nav {
    flex-direction: row;
    align-items: center;
    height: 5rem;
    position: relative;
  }

  .menu {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 100%;
    right: 0; 
    width: 200px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  nav ul li a {
    display: block;
    width: 100%;
    padding: 0.75rem 0;
    background-color: rgba(107, 76, 29, 0.8);
    color: #d4af37;
    border-radius: 5;
    font-size: 1.8rem;
  }

  nav ul li a.active {
    background-color: #6b4c1d;
    color: #d4af37;
  }

  nav ul li a:hover:not(.active) {
    background-color: #6b4c1d;
    color: #d4af37;
  }
}

