.SearchPage {
  display: flex;
  height: -webkit-fill-available;
}

.ingredient-form-sidebar {
  width: 30%;
  background: #f3f4f6;
  padding: 1rem;
  border-right: 4px solid #9ca3af;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.recipes-section {
  width: 80%;
  padding: 1rem;
  box-sizing: border-box;
}